/* Basic CSS reset */
* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    text-decoration: none;
    font-weight: normal;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Sign Painter';
    src: url(SignPainter.ttf);
}

b {
    font-weight: bold;
}

/* This class is applies to the container of the menu element */
.menu {
    position: fixed;
    width: 27vw;
    font-size: 1.0vw;

    color: white;
    font-family: sans-serif;
}
.menu.left {
    top: 3%;
    left: 2%;
}
.menu.right {
    top: 3%;
    right: 2%;
}
.menu > * {
    display: block;
}

/* This class is applied to the top title of the menu */
.menu > .title-card {
    padding: 1.6vh 1.0vw;

    background-image: linear-gradient(
        to right,
        rgb(0, 74, 179),
        rgb(37, 112, 218)
    );
    font-size: 3.5vw;
    font-family: 'Sign Painter', sans-serif;
    letter-spacing: -1px;
    text-align: center;
    white-space: nowrap;
}

/* This class is applied to the section under the title with the subtitle */
.menu > .subtitle-card {
    display: flex;
    padding: 0.8vh 0.7vw;

    background: rgb(0, 0, 0);
    color: rgb(34, 115, 221);
    text-transform: uppercase;
}
.menu > .subtitle-card > span {
    margin-left: auto;
}

.menu > .desc-card {
    margin-top: 0.3vw;
    border-top: 5px solid black;
    padding: 0.8vh 0.7vw;

    background: rgba(0, 0, 0, 0.75);
    word-wrap: break-word;
}

/* This part handles the button styling */
.btn {
    display: flex;
    padding: 0.8vh 0.7vw;

    background: rgba(0, 0, 0, 0.75);
    white-space: nowrap;
}
.btn > * {
    height: 100%;
}
.btn.selected {
    background: rgba(255, 255, 255, 0.97);
    color: black;
}
.btn > .text {
    margin-right: auto;
}
.btn > .checkbox {
    margin: 0 0.1vw;
}
/* Adjustments for the chevrons */
.btn i.fas.arr {
    font-size: 80%;
    margin: 0 -0.1vw;
}

/* helper classes for colors */
.red {
    color: rgb(237, 57, 44);
}
