<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="index.css" />
        <script
            src="https://kit.fontawesome.com/ded82f7670.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <!-- Main entry point of the vue application -->
        <main id="app">
            <neo-menu
                v-for="menu in openMenus"
                :key="menu.id"
                :menu="menu"
                :buttons="menuButtons[menu.id]"
            />
        </main>

        <!-- Templates for each of the Vue components -->

        <script type="text/x-template" id="btn_template">
            <div class="btn" :class="selected && 'selected'">
                <!-- A button's text -->
                <span class="text" v-html="textHtml"></span>
                <!-- The list of the button -->
                <span class="list" v-if="listVal">
                    <i class="arr fas fa-chevron-left"></i>
                    {{listVal}}
                    <i class="arr fas fa-chevron-right"></i>
                </span>
                <!-- The checkbox of the button -->
                <span v-if="isCheckbox">
                    <i
                        class="checkbox"
                        :class="button.check ? 'fas fa-check-square' : 'far fa-square'"
                    ></i>
                </span>
                <!-- Chevrons of the button, used to indicate another menu -->
                <span class="chevron" v-if="button.chevron">
                    <i class="arr fas fa-chevron-right"></i>
                    <i class="arr fas fa-chevron-right"></i>
                    <i class="arr fas fa-chevron-right"></i>
                </span>
            </div>
        </script>

        <script type="text/x-template" id="btn_group_template">
            <div class="btn-group">
                <neo-btn
                    v-for="{btn, current} in displayButtons"
                    :key="btn.id"
                    :button="btn"
                    :selected="current"
                />
            </div>
        </script>

        <script type="text/x-template" id="menu_template">
            <div class="menu" :class="menu.right ? 'right' : 'left'">
                <div class="title-card">
                    <h1>{{menu.title}}</h1>
                </div>
                <div class="subtitle-card">
                    <h2>{{menu.subtitle}}</h2>
                    <span v-if="buttons.length > 0">
                        {{btnIndex + 1}} / {{ buttons.length }}
                    </span>
                </div>
                <neo-btn-group :buttons="buttons" />
                <div v-if="descHtml" class="desc-card" v-html="descHtml">
                </div>
            </div>
        </script>

        <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <!-- Custom scripts controlling UI with Vue -->
        <script src="js/index.js"></script>
        <script src="js/btn.js"></script>
        <script src="js/btn-group.js"></script>
        <script src="js/menu.js"></script>
    </body>
</html>
